
a {
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

header {
  width: 100vw;
  height: 75px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
  display: flex;
  align-items: center;
}

header .container-fluid {
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navb-logo {
  font-weight: 800;
  font-size: 32px;
}

header .navb-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
  width: 100%;
}

header .mobile-toggle i {
  font-size: 20px;
}

header .item {
  margin: 1% 3%;
  text-align: center;
  letter-spacing: 3px;
  color: #102447;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  border-bottom: 0px solid #64d6f4;
  border-top: 0px solid #64d6f4;
  cursor: pointer;
}

header .item:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header .item-button a {
  background-color: #102447;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

header .item-button a:hover {
  background-color: #64d6f4;
}

.iconimg{
height:50px;
width:60px;
border-radius:10px;
}